@tailwind base;
@tailwind components;
@tailwind utilities;


.main-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  position: fixed;
}
section{
  height: 100vh;
  padding: 90px 0;
}